// $body-bg: hsl(257, 40%, 49%);
// $body-color: #FFFFFF;
$paragraph-margin-bottom: 0;
$font-family-sans-serif: 'Josefin Sans', system-ui, Verdana, Arial, sans-serif;
$font-size-root: 16px;
$line-height-base: 1;
$headings-margin-bottom: 0;
$headings-font-family: 'Josefin Sans';
$headings-font-weight: 600;
$headings-line-height: 1.06;