@font-face {
  font-family: 'base-apparel-icons';
  src:  url('../fonts/base-apparel-icons.eot?j6opye');
  src:  url('../fonts/base-apparel-icons.eot?j6opye#iefix') format('embedded-opentype'),
    url('../fonts/base-apparel-icons.ttf?j6opye') format('truetype'),
    url('../fonts/base-apparel-icons.woff?j6opye') format('woff'),
    url('../fonts/base-apparel-icons.svg?j6opye#base-apparel-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'base-apparel-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-error:before {
  content: "\e901";
  color: #f96464;
}